@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

/* main review 6 */


.tab-content>.tab-pane {
    display: none
}

.tab-content>.active {
    display: flex;
    
}

#reviews-content{
	display: flex;
}

.welcome-main-text{
    color: beige;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 100px;
    text-align: center;
}

/* Main Title css */
.section-title-main h2 {
	font-size: 100px;
	font-weight: 700;
	color: white;
	text-align: center;
/* 	font-family: 'Nanum Pen Script', cursive; */
}

/* 占쏙옙占쏙옙占쏙옙 占쏙옙占쏟스울옙 CSS */

.slide__link{
	border-radius: 5px;
   
    cursor: pointer;
     
    width: 100%
    
}


#slide {   
  width:100%;    /* 占십븝옙 */ 
  overflow:hidden;   /* 占쏙옙占쏙옙 占쏙옙치占쏙옙 占쏙옙占쏙옙 */ 
  position: relative;
}

.slide__item__text h5 {
	font-size: 20px;
	color: #323232;
	font-weight: 600;
	margin-bottom: 6px;
}

.slide__item__text__rating {
	overflow: hidden;
	margin-bottom: 15px;
}

.slide__item__text__rating .slide__item__rating__star {
	float: right;
}

.col-balance-1{
	flex: 1;
}
.col-balance-2{
	order:2;
}
button{
  position: absolute;
  height:100%;  /* 占쏙옙占싣뤄옙 占쏙옙占쏙옙 占쏙옙占쏙옙 */ 
  top:0;
  border:none;  /* 占쌓두몌옙 占쏙옙占쏙옙 */  
  padding:20px;
  background-color: transparent;  /* 占쏙옙占쏙옙 占쏙옙占� */ 
  color:#000;  /* 화占쏙옙표 占쏙옙占쏙옙 占쏙옙占쏙옙 */  
  font-weight:800;  /* 占쏙옙占쏙옙 */ 
  font-size: 24px;  /* 화占쏙옙표 크占쏙옙 */ 
  opacity: 0.5;  /* 占쏙옙占쏙옙占쏙옙 */ 
}
#prev {
  left:0;  /* 占쏙옙占쏙옙占쏙옙占쏙옙 占쌕울옙占쏙옙 */ 
}
#next {
  right:0;  /* 占쏙옙占쏙옙占쏙옙占쏙옙占쏙옙 占쌕울옙占쏙옙 */ 
}
button:hover {
  background-color:#222;  /* 짙占쏙옙 회占쏙옙 占쏙옙占� */
  color:#fff;   /* 占쏙옙占� 화占쏙옙표 */ 
  opacity:0.6;   /* 占쏙옙占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙占쏙옙 */ 
  cursor:pointer;  /* 커占쏙옙 占쏙옙占쏙옙占� 占쏙옙占쏙옙占싶뤄옙 */ 
}
button:focus {
  outline:0;  /* 占싣울옙트占쏙옙占쏙옙 占쏙옙占쏙옙 */
}


/* 占쏙옙占쏙옙督占쏙옙占� ( 푸占쏙옙慣占� ) */

.FoodLog__Item {
	-webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	background-color : white;
	border: 1px solid #fff;
	border-radius:10px;
}
.FoodLog__Title {
	border-radius: 5px;
	cursor: pointer;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 40px;
	padding-bottom: 10px;
	border: 1px solid #e3e3e3;
	
}
.FoodLog__item__text {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	
}
.FoodLog__item__pic {
	height: 260px;
	position: relative;
	cursor: pointer;
}
/* 占식댐옙占싱몌옙 */
.FoodLog__item__text__inside h5 {
	font-size: 20px;
	color: #323232;
	font-weight: 600;
	margin-bottom: 10px;
	overflow: hidden;
}

.FoodLog__item__text__inside h6 {
	font-size: 14px;
	color: #6a6a6a; /* 占쏙옙占쏙옙회占쏙옙 */
	font-weight: 600;
	margin-bottom: 6px;
	overflow: hidden;
}


.FoodLog__item__text__rating {
	overflow: hidden;
	margin-bottom: 15px;
}

.FoodLog__item__text__rating .FoodLog__item__rating__star {
	float: left;
}

.FoodLog__item__text__rating .FoodLog__item__rating__star span,
.slide__item__text__rating .slide__item__rating__star span {
	font-size: 14px;
	color: #F09D17; /* 占쏙옙황占쏙옙 */
	margin-right: -3px;
}

.FoodLog__item__text__rating .FoodLog__item__rating__star span:last-child, 
.slide__item__text__rating .slide__item__rating__star span:last-child{
	margin-right: 0px;
}

.FoodLog__item__text__rating .FoodLog__item__rating__star .FoodLog__item__rating__people__price {
	font-size: 14px;
	color: #6a6a6a; /* 占쏙옙占쏙옙회占쏙옙 */
	margin-right: 5px;
}
