@charset "UTF-8";

.pagination{
	display: inline-box;
}

.paginationBox{
	text-align:center;
	margin-left:10px;
}



.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #f9adbd;
    border-color: #f9adbd;
}

.page-link{
	color: #f9adbd;
	cursor: pointer;
}

.page-item{
	display: inline-block ;
	cursor: pointer;
}

.page-item.active .page-link {
	border-radius: 	50%;
}

.page-item{
	border-radius: 50%;
}

.page-item:last-child .page-link {
	border-radius: 50%;
}

.page-item:first-child .page-link {
	border-radius: 50%;	
}

a:not([href]) {
    color: #f9adbd;
    text-decoration: none;
}

.page-link {
    border-radius: 50%;
    margin-left: 3px;
}