.main-page {
    padding: 0;
    font-size: 0;
    line-height: 0;
    box-sizing: border-box;
}
.main-header__wrapper {
    position: relative;
    width: 1120px;
    min-height: 300px;
    margin: 0 auto;
    padding: 40px 0 0 0;
}

/***************
RECENT-ACTIVITY
***************/
.recent-activity {
    width: 1120px;
    margin: 0 auto;
}

.recent-activity__wrapper {
}

.recent-activity__heading h2 {
    display: block;
    font-size: 21px;
    color: #d32323;
    padding: 10px 0 0 0;
    margin: 0 auto;
    margin-bottom: 37px;
    text-align: center;
}

h3.recent-activity__heading {
    margin-left: 13px;
    margin-top: 9px;
    margin-bottom: 5px;
}

h3.recent-activity__heading a {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3em;
    color: #0073bb;
    text-decoration: none;
}

.recent-activity__row {

}

.recent-activity__col {
    width: 30.33%;
    display: inline-block;
    color: #333;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    vertical-align: top;
    box-sizing: border-box;
    margin-right: 30px;
    height: 343px;
    margin-bottom: 20px;
}

.recent-activity__col .restaurants__rating {
    margin-bottom: 7px;
    padding: 0 0 0 11px;
}

.star-rate-icon{
    color: var(--yellow);
}


.recent-activity__col img {
    width: 100%;
    display: block;
    margin: 0 auto;
    border-radius: 1px;
}

.recent-activity__col.photocheck {
    margin-bottom: 30px;
}

.recent-activity__col .more-photo {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    margin-left: 90px;
    padding: 15px 0 20px 0;
}

.recent-activity__row .recent-activity__col:nth-child(3) {
    margin-right: 0;
}

.recent-activity__col a {
    color: #0073bb;
    text-decoration: none;
}

.recent-activity__col a:hover {
    text-decoration: underline;
}

.recent-activity__name {
    display: block;
    /*padding-bottom: 11px;*/
}

.recent-activity__name a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.recent-activity__col.feedback {
}

.recent-activity__col.feedback p {
    font-size: 14px;
    line-height: 1.1em;
    padding: 0 10px;
}

.recent-activity__row .img-container {
    display: inline-block;
    vertical-align: top;
    padding: 10px 10px 10px 10px;
}

.img-container{
    width: 60px;
    height: 60px;
}

.userinfo-wrapper{
    vertical-align: baseline;
    display: inline;
}

.caption-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-top: 6px;
}

.recent-activity__caption {
    display: block;
    width: 100%;
    font-size: 14px;
    padding-bottom: 15px;
}

.recent-activity__col .break-line {
    width: 90%;
    border-bottom: 1px solid #E6E6E6;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 11px;
}

.recent-activity .cover-wrapper {
    display: inline-block;
}

.recent-activity__likes.facebook {
    display: inline-block;
    font-size: 14px;
    color: #999;
    padding: 7px 0 7px 0;
    text-decoration: none;
    margin-left: 13px;
}

.recent-activity__likes.facebook:hover .text-like {
    color: #005f9b;
    text-decoration: none;
}

.recent-activity__likes.facebook:hover .fb-img-like {
    background-image: url(https://s2.postimg.org/sk66m6sdl/like_hover.png);
    background-repeat: no-repeat;
    text-decoration: none;
}

.recent-activity__likes.fb-img-like {
    display: inline-block;
    width: 24px;
    min-height: 24px;
    background-size: cover;
    background-image: url(https://s12.postimg.org/e2fcy68vx/like.png);
    vertical-align: bottom;
}

.recent-activity__likes.text-like {
    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;
    min-height: 12px;
    padding-left: 6px;
}

.recent-activity__reaction {
    display: inline-block;
    padding: 9px 0 12px 11px;
}

.recent-activity__reaction .reaction-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding-right: 35px;
}

.recent-activity__reaction .funny:hover {
    background-image: url(https://s1.postimg.org/33i78fsoxb/funny_icn_hover.png);
}

.recent-activity__reaction .useful:hover {
    background-image: url(https://s1.postimg.org/1dv2odsacv/useful_icn_hover.png);
}

.recent-activity__reaction .cool:hover {
    background-image: url(https://s24.postimg.org/q6qzribxx/cool_icn_hover.png);
}

.recent-activity__reaction .compliment:hover {
    background-image: url(https://s15.postimg.org/6h9t40sp7/compl_icn_hover.png);
}

.recent-activity__likes .fb-img-like:hover {
    background-image: url(https://s2.postimg.org/sk66m6sdl/like_hover.png);
    background-repeat: no-repeat;
    text-decoration: none;
}

/* nav li a:hover:after{ width: 100%; } */

.reaction-item.useful {
    background-image: url(https://s18.postimg.org/4mbtuyvdl/useful_icn.png);
    background-repeat: no-repeat;
}

.reaction-item.funny {
    background-image: url(https://s2.postimg.org/mumzpcbsp/funny_icn.png);
    background-repeat: no-repeat;
}

.reaction-item.cool {
    background-image: url(https://s29.postimg.org/zerjdu5bb/cool_icn.png);
    background-repeat: no-repeat;
}

.reaction-item.compliment {
    position: relative;
    top: 0;
    left: 145px;
    background-image: url(https://s14.postimg.org/o0tpl6kz5/compl_icn.png);
    background-repeat: no-repeat;
}

.photo-wrapper {
    padding: 0 5px 5px 5px;
}

.photo-block {

}

.photo-block img {
    border-radius: 2px 2px 0 0;
}

.sub-wrapper {
    width: 137px;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

.photo-wrapper .sub-wrapper:nth-child(2) {
    margin-right: 5px;
}

.sub-wrapper img {
    margin: 0;
    padding: 0;
    border-radius: 4px 4px 0 0;
}

/* FOOTER */

.show-more-wrapper {
    display: flex;
    width: 1120px;
    margin: 0 auto;
    margin-bottom: 95px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.show-more {
    width: 300px;
    margin: 0 auto;
}

.show-more a {
    font-size: 14px;
    font-weight: bold;
    color: #CFA195;
    cursor: pointer;
    text-decoration: none !important;
}

.show-more svg{
    vertical-align: middle;
    top:0;

}

.show-more a:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 9px;
    margin-right: 10px;
    background-image: url(https://s17.postimg.org/65f1h7i9r/arrow_dn.png);
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: center;
    padding-bottom: 1px;
}

.show-more a:hover {
    color: #FFE3DC;
}

.thumb-with-content{
    height: 93px;
    object-fit: cover;
}

.text-container-with-thumbnail{
    /*height: 40px;*/
    height: 3em;
    -webkit-line-clamp: 2;
}

.text-container-without-thumbnail{
    /*height: 130px;*/
    height: 10.5em;
    -webkit-line-clamp: 7;
}

.text-container{
    font-size:14px;
    padding: 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-content{
    line-height: 1.5em !important;
    text-overflow: ellipsis;
    white-space: normal;
    text-align: left;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.continue-reading{
    display: none;
    padding: 0 10px;
    font-size: 15px;
}

.text-content-with-thumbnail{
    height: 64.5px;
}

.text-content-without-thumbnail{
    height: 158px;
}


