.listing__sidebar__contact__map iframe{
	border-radius :15% 15% 0 0;
}

.listing__sidebar__contact{
 	border-radius:40px;
}

.star-category{
	width: 30%;
	color: black !important;
	font-weight: bold;
}

.rate-box{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.listing__sidebar__contact__text ul li span {
    top: 0; 
}

.icon_clock{
	content: "\7d";
}

.icon_category{
	content: "\f0b0";
}

p{
	margin-block-start: 0;
	margin-block-end: 0;
}

.blog__details__text p {
    line-height: 0px;
}

.listing__hero__btns {
    text-align: right;
    padding-top: 85px;
}

.listing__details__comment {
    border-top: none; 
}

.heart-icon{
	width: 35px;
	height: 35px;
	vertical-align: sub;
	cursor: pointer;
}

.blog__hero__text ul li {
	font-size: 1rem;
}

.heart-icon-li{
	margin-right:0 !important;
}

.primary-btn{
	border:none;
}


.reply-btn{
	border: none;
	background-color: inherit;
	color: grey;
	float: right;
	margin-right: 50px;
	font-size: 13px;
}

.listing__details__comment__item__pic img {
    height: 45px;
    width: 45px;
}

.listing__details__comment__item {
    margin-bottom: 20px;
}


.listing__details__review {
    border-top: 0;
    padding-top: 0;
    padding-bottom: 50px;
}

.listing__details__review form button {
    float: right;
}

.li-underline{
	text-decoration: underline;
	cursor: pointer;
}

.star-rate{
	border-radius: 30px;
}

.blog__sidebar__categories ul li span {
    font-size: 15px;
    color: #323232;
    line-height: 36px;
}

.blog__sidebar__categories ul li span span {
    font-weight: 600;
    /* float: right; */
}

.star-rate-text{
	width: 35%;
}

.star-rate-star{
	width: 65%;
	color: var(--yellow) !important;
}

.star-rate-li{
	width: 100%;
}

.blog__sidebar__categories {
    -webkit-box-shadow: 0px 0px 0px 1px #f9adbd;
    box-shadow: 0px 0px 0px 1px #f9adbd;
}

.listing__sidebar__contact {
    -webkit-box-shadow: 0px 0px 0px 1px #f9adbd;
    box-shadow: 0px 0px 0px 1px #f9adbd;
}

.blog__sidebar__recent {
    -webkit-box-shadow: 0px 0px 0px 1px #f9adbd;
    box-shadow: 0px 0px 0px 1px #f9adbd;
}

.blog__hero__text h2 {
    color: black;
}

.spad {
    padding-top: 50px;
}