.listing .listing__list .listing__item {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 22.766% !important;
    height: 51% !important;
    border-radius: 40px !important;
}

.listing {
    width: 100% !important;
}