.listing {
    width: 70%;
    height: 100%;
    padding: 0 40px;
    padding-top: 140px;
    overflow-y: auto;
    float: left;
}

.listing__map {
    height: 100%;
    width: 30%;
    margin-top: 105px;
    float: left;
}

.icon_zoom-in_alt, .icon_heart_alt{
	line-height: 2.5;
}


.listing__item__pic__btns a {
    color: #f9adbd;
    background: whitesmoke;
}

.listing__item__pic__btns{
	cursor:pointer;
}

.listing__item__text__inside ul li span {
    top: 0px; 
}

.listing__item__pic__tag {
    border-radius: 40px;
}

.listing__item__pic {
    border-radius: 40px 40px 0 0;
}